.header {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}

.leftSection {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.timeInfo {
  display: flex;
  flex-direction: column;
}

.currentTime {
  font-size: 1.2rem;
  font-weight: 500;
  color: #333;
}

.studyTime {
  font-size: 0.8rem;
  color: #666;
}

.rightSection {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #222;
  font-weight: 600;
}

.logout {
  cursor: pointer;
  text-decoration: underline;
}
