.layout {
  width: 100vw;
  height: 100vh;
}

.mainSection {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  overflow: hidden;
}

.content {
  flex: 1;
  overflow-y: auto;
  margin-top: 70px;
}
