.roomLayout {
  display: flex;
  height: 100%;
  gap: 20px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

@media (max-width: 1000px) {
  .roomLayout {
    flex-direction: column;
    gap: 0px;
  }
}
